<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#inSlider" ng-repeat="banner in banners" data-slide-to="{{ banner.id }}" ng-class="{active:$first}"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item" ng-repeat="banner in banners" ng-class="{active:$first}">
            <div class="container">
                <div class="carousel-caption" style="left: 5%;">
                    <h1> {{ banner.type == 'movie' ? 'Now Playing' : 'Airing Today' }} </h1>
                    <h2>{{banner.title}} </h2>
                    <span>{{ banner.tagline }}</span>
                    <p>{{banner.overview}}</p>
                    <p>
                        <a class="btn btn-sm btn-primary" ui-sref="app.movies.detail({id: banner.id})" role="button">
                            Movie Review <i class="fa fa-play"></i>
                        </a>
                        <!-- <a class="caption-link" href="#" role="button">Inspinia Theme</a> -->
                    </p>
                </div>
                <!-- <div class="carousel-image wow zoomIn">
    <img class="img-responsive" ng-src="{{ banner.backdrop_path }}" src="{{ banner.backdrop_path }}" alt="{{ banner.backdrop_path }}" />
</div> -->
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one" style="background: url('{{ banner.backdrop_path }}') no-repeat; background-size: cover"></div>
        </div>
    </div>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<section id="movie" class="container services">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Over 50+ Latest Movies<br> <span class="navy"> You need to watch them this year!  </span> </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12">
            <div class="slick_movies">
                <div ng-repeat="movie in movies.nowPlaying" repeat-event>
                    <div class="ibox">
                        <div class="ibox-content product-box">
                            <div class="product-imitation no-padding">
                                <img class="img-responsive" src="{{ movie.poster_path }}" alt="{{ movie.poster_path }}" />
                            </div>
                            <div class="product-desc">
                                <span class="product-price">
                                    <i class="fa fa-star"></i> {{ movie.vote_average }}
                                </span>
                                <a ui-sref="app.movies.detail({id: movie.id})" class="product-name"> {{ movie.original_title }}</a>
                                <small class="text-muted">{{ movie.release_date }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="{{ campaign2 }}" class="btn btn-primary btn-sm">Show More Movies <i
                                class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</section>
<section id="tv" class="container services">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Reach 100+ TV Series Showing Now<br> <span class="navy"> with thousand seasons and episodes!</span> </h1>
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12">
            <div class="grid">
                <div class="grid-item" ng-repeat="tv in tv.airingToday" repeat-event>
                    <div class="ibox">
                        <div class="ibox-content product-box">
                            <div class="product-imitation no-padding">
                                <img class="img-responsive" src="{{ tv.poster_path }}" alt="{{ tv.poster_path }}" />
                            </div>
                            <div class="product-desc">
                                <span class="product-price">
                                    <i class="fa fa-star"></i> {{ tv.vote_average }}
                                </span>
                                <a ui-sref="app.tv.detail({id: tv.id})" class="product-name"> {{ tv.original_name }}</a>
                                <small class="text-muted">{{ tv.first_air_date }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="{{ campaign }}" class="btn btn-primary btn-sm">Show More TV Shows <i
                                class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</section>