<ui-view>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Management Menu</h3>
                    <div class="ibox-tools">
                        <a ui-sref="app.setting.menu.create" class="btn btn-primary">Create Menu</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table id="table-menu" table-menu class="table table-condensed table-striped table-hover">

		                <thead>
		                <tr>
		                    <th>Name</th>
		                    <th>URL</th>
		                    <th>Icon</th>
		                    <th>Parent</th>
		                    <th>Action</th>
		                </tr>
		                </thead>
		                <tbody>
		              
                    
		                </tbody>
		            </table>
                </div>
            </div>
        </div>
    </div>
</div>
<ui-view>