<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption" style="left: 2em; right: 30%; top: 10em;">
                    <h1> {{ tv.name }} </h1>
                    <span>{{ tv.status }}</span>
                    <br />
                    <br />
                    <span><i class="fa fa-star"></i> {{ tv.vote_average }}</span>
                    <br />
                    <span>{{ tv.genres }}</span>
                    <p>{{ tv.number_of_seasons }} seasons | {{ tv.number_of_episodes }} episodes</p>
                    <a href="{{ campaign }}" class="btn btn-danger"><i class="fa fa-download"></i> Download</a>
                    <a href="{{ campaign2 }}" class="btn btn-success"><i class="fa fa-eye"></i> Watch Full In HD</a>
                </div>
                <!-- <div class="carousel-image wow zoomIn">
    <img class="img-responsive" ng-src="{{ banner.backdrop_path }}" src="{{ banner.backdrop_path }}" alt="{{ banner.backdrop_path }}" />
</div> -->
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one" style="background: url('{{ tv.backdrop_path }}') no-repeat; background-size: cover"></div>
        </div>
    </div>
</div>
<section id="overview" class="container">
    <div class="ibox">
        <div class="ibox-title">
            <h1>TV Shows <small>Details</small></h1>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="ibox">
                        <div class="ibox-content product-box">
                            <div class="product-imitation no-padding">
                                <img class="img-responsive" src="{{ tv.poster_path }}" alt="{{ tv.poster_path }}" />
                            </div>
                            <div class="product-desc no-padding">
                                <span class="product-price">
                                    <i class="fa fa-star"></i> {{ tv.vote_average }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <h2><a href="{{ campaign }}" class="product-name"> {{ tv.name }}</a></h2>
                            <div ng-if="tv.production_companies">
                                <h2>Production Company</h2>
                                <p>{{ tv.production_companies }}</span>
                            </div>
                            <small class="text-muted" ng-if="tv.first_air_date">First Air Date : {{ tv.first_air_date | date : 'd MMM yyyy'}} | </small>
                            <small class="text-muted" ng-if="tv.last_air_date">Last Air Date : {{ tv.last_air_date | date : 'd MMM yyyy'}}</small>
                            <h2>Overview</h2>
                            <small>
                                <strong>Languages : </strong> {{ tv.languages }}
                            </small>
                            <p>
                                {{ tv.overview }}
                            </p>
                            <div ng-if="tv.trailer">
                                <h2>Trailler</h2>
                                <iframe width="810" height="415" ng-src="{{ 'https://www.youtube.com/embed/' + tv.trailer }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            <div class="text-center">
                                <a href="{{ campaign }}" class="btn btn-danger"><i class="fa fa-download"></i> Download</a>
                                <a href="{{ campaign2 }}" class="btn btn-success"><i class="fa fa-eye"></i> Watch Full In HD</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="tv.seasons.length > 0">
                <div class="col-md-12">
                    <h2>Seasons</h2>
                    <div class="slick_seasons">
                        <div ng-repeat="seasons in tv.seasons" ng-if="seasons" repeat-event>
                            <div class="ibox" ng-click="goToDetailSeason(seasons.id)" style="cursor: pointer;">
                                <div class="ibox-content product-box">
                                    <div class="product-imitation no-padding">
                                        <img class="img-responsive" src="{{ seasons.poster_path }}" alt="{{ seasons.poster_path }}" />
                                    </div>
                                    <div class="product-desc ">
                                        <span class="product-price">
                                    <i class="fa fa-film"></i> {{ seasons.season_number }}
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="tv" class="container services">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Popular<br> <span class="navy"> TV Shows</span> </h1>
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12">
            <div class="slick_demo_2">
                <div ng-repeat="tv in tv.populars" ng-if="tv" repeat-event>
                    <div class="ibox" ng-click="goToDetail(tv.id)" style="cursor: pointer;">
                        <div class="ibox-content product-box">
                            <div class="product-imitation no-padding">
                                <img class="img-responsive" src="{{ tv.poster_path }}" alt="{{ tv.poster_path }}" />
                            </div>
                            <div class="product-desc">
                                <span class="product-price">
                                    <i class="fa fa-star"></i> {{ tv.vote_average }}
                                </span>
                                <a ui-sref="app.tv.detail({id: tv.id})" class="product-name"> {{ tv.original_name }}</a>
                                <small class="text-muted">{{ tv.first_air_date }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="{{ campaign2 }}" class="btn btn-primary btn-sm">Show More TV Shows <i
                                class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</section>
<section id="movie" class="container services">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Movies<br> <span class="navy"> Now Playing</span> </h1>
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12">
            <div class="slick_movies">
                <div ng-repeat="movie in movies" ng-if="movie" repeat-event>
                    <div class="ibox" ng-click="goToDetailMovie(movie.id)" style="cursor: pointer;">
                        <div class="ibox-content product-box">
                            <div class="product-imitation no-padding">
                                <img class="img-responsive" src="{{ movie.poster_path }}" alt="{{ movie.poster_path }}" />
                            </div>
                            <div class="product-desc">
                                <span class="product-price">
                                    <i class="fa fa-star"></i> {{ movie.vote_average }}
                                </span>
                                <a ui-sref="app.movies.detail({id: movie.id})" class="product-name"> {{ movie.original_title }}</a>
                                <small class="text-muted">{{ movie.release_date }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="{{ campaign }}" class="btn btn-primary btn-sm">Show More Movies <i
                                class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</section>